{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block title %} | {% trans "Sign In" %}{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="message rounded-0 text-center alert alert-{{ message.tags }}">
  {{ message|safe }}
</div>
{% endfor %}
{% endif %}
<div id="background" class="d-flex flex-column justify-content-between">
  <h2 class="page-heading c-bg-off-white">{% trans "Sign In" %}</h2>
  <div class="d-flex flex-column justify-content-center
    align-items-center c-bg-green-grey-80 my-5 py-4">
    <p class="text-center px-3 py-2 c-width-175r">
      {% blocktrans %}
      If you have not created an account yet, then please
      <a href="{{ signup_url }}"
        class="button-styling inline-small">sign up</a> first.
      {% endblocktrans %}
    </p>

    <form class="login d-flex flex-column align-items-between px-5" method="POST"
      action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="d-flex flex-column align-items-center">
        <button class="button-styling"
          type="submit">{% trans "Sign In" %}</button>
        <a class="button-styling secondary" 
          href="{% url 'account_reset_password' %}">
          {% trans "Forgot Password?" %}
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}