{% extends "base.html" %}
{% load static %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block pre_content %}
{% if messages %}
  {% for message in messages %}
    <div class="message rounded-0 text-center alert alert-{{ message.tags }}">
      {{ message|safe }}
    </div>
  {% endfor %}
{% endif %}
{% comment %} additional nav for desktop {% endcomment %}
  <nav class="d-flex justify-content-evenly mobile-hide" id="desktop-second-nav">
    <a href="{% url 'therapies' %}" class="link-button-lg link-button-lg-desktop">Therapies</a>
    <a href="{% url 'therapists' %}" class="link-button-lg link-button-lg-desktop">Therapists</a>
    <a href="{% url 'booking_info' %}" class="link-button-lg link-button-lg-desktop">Bookings</a>
  </nav>
{% endblock pre_content %}

{% block content %}
  <div id="background" class="d-flex flex-column justify-content-between">
    <div id="home-info">
      {{ home.content|safe }}
    </div>
    {% comment %}
      additional nav for home page - hidden on desktop
    {% endcomment %}
    <nav class="d-flex flex-column justify-content-evenly desktop-hide" id="mobile-second-nav">
      <a href="{% url 'therapies' %}" class="link-button-lg">Therapies</a>
      <a href="{% url 'therapists' %}" class="link-button-lg">Therapists</a>
      <a href="{% url 'booking_info' %}" class="link-button-lg">Bookings</a>
    </nav>

    <div id="address-info">
      {{ home.address|safe }}
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/home-check.js' %}"></script>
{% endblock extra_js %}
