{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock css %}

{% block title %} | Profile{% endblock title %}

{% block content %}
<div id="background" class="d-flex flex-column">
  <h2 class="page-heading c-bg-off-white">Profile</h2>
  <section class="mb-4">
    <div class="c-width-320r">
      <h3 class="text-center c-bg-grey card-heading
        rounded-2 my-4 mx-2 py-1">
        Your Reviews</h3>
    </div>
    {% if reviews|length == 0 %}
    <section class="c-bg-green-grey-80 mb-4 p-2 c-width-600r">
      <div class="d-flex flex-column
          justify-content-center align-items-center px-2">
        <h4 class="text-center w-100 c-bg-grey-60 rounded-2 my-2 py-1 px-2">
          No reviews yet...</h4>
      </div>
    </section>
    {% else %}
    {% for review in reviews %}
    <section class="c-bg-green-grey-80 mb-4 p-2 c-width-600r">
      <div class="c-width-320r">
        <div class="d-flex flex-column
            justify-content-center align-items-center px-2">
          <h4 class="text-center w-100 c-bg-grey-60 rounded-2 my-2 py-1 px-2">
            {{ review }}</h4>
          <p class="text-center py-2 px-1 mb-2">
            {{ review.content }}
          </p>
          <div class="d-flex justify-content-evenly w-100 star-rating mb-3">
            <i class="fa-solid fa-star"></i>
            {% if review.rating > 1 %}
            <i class="fa-solid fa-star"></i>
            {% if review.rating > 2 %}
            <i class="fa-solid fa-star"></i>
            {% if review.rating > 3 %}
            <i class="fa-solid fa-star"></i>
            {% if review.rating > 4 %}
            <i class="fa-solid fa-star"></i>
            {% else %}
            <i class="fa-regular fa-star"></i>
            {% endif %}
            {% else %}
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            {% endif %}
            {% else %}
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            {% endif %}
            {% else %}
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            {% endif %}
          </div>
          <p class="d-flex w-100 justify-content-between mb-2">
            <span>Performed by:</span><span>{{ review.therapist }}</span>
          </p>
          <div class="d-flex flex-column align-items-center">
            {% if not review.approved %}
            <p class="text-center bold-red">
              This review is awaiting approval...
            </p>
            {% endif %}
            {% with request.user.first_name as uf %}
            {% with request.user.last_name as ul %}
            {% with review.therapist.first_name as tf %}
            {% with review.therapist.last_name as tl %}
            {% with owner.first_name as owf %}
            {% with owner.last_name as owl %}
            {% with user.is_superuser as sup %}
            {% if tf == uf and tl == ul or sup and tf == owf and tl == owl %}
            <p class="text-cenetr bold-red">
              This review is about you!
            </p>
            {% endif %}
            {% if sup and review.user == request.user %}
            <p class="text-cenetr bold-red">
              You wrote this review!
            </p>
            {% endif %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    {% endif %}
  </section>
</div>

{% endblock content %}
