{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
{% endblock css %}

{% block title %} | Edit Therapist{% endblock title %}

{% block content %}
<div id="background" class="d-flex flex-column justify-content-between">
  <section class="admin-only text-center c-bg-off-white c-width-600r">
    <h2 class="page-heading c-bg-orange">Edit Therapist</h2>
    <div class="c-width-320r">
      <form class="px-2" method="POST" action="{% url 'edit_therapist' therapist.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex flex-column align-items-center">
          <button type="submit">Submit</button>
          <a href="{% url 'therapists' %}" class="button-styling cancel">Cancel</a>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/remaining-characters.js' %}"></script>
  <script src="{% static 'js/image-prompt.js' %}"></script>
  <script src="{% static 'js/hourly-rate-prompt.js' %}"></script>
{% endblock extra_js  %}
