{% extends 'base.html' %}
{% load static %}

{% block css %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/therapists.css' %}">
{% endblock css %}

{% block title %} | Delete Therapist{% endblock title %}

{% block content %}
  <!-- Menu confirm delete form -->
  <section class="admin-only text-center">
    <h2 class="page-heading c-bg-orange">Confirm Therapist Deletion</h1>
    <section class="c-bg-green-grey-80 mb-4 p-2">
      <div class="therapist-summary d-flex justify-content-between">
        <div class="flex-shrink-0">
          <img 
          {% if "no_image" in therapist.image.url %}
            src="{% static 'images/anonymous.jpg' %}" alt="an anonymous silhouette of a person sat on the pontoon of a lake, between two mountains"
          {% else %}
            src="{{ CLOUD }}{{ therapist.image }}" alt="{{ therapist.image_alt_text }}"
          {% endif %} height="150" width="150" class="img-fluid therapist-image rounded-4 p-2">
        </div>
        <div class="therapist-brief d-flex flex-column flex-grow-1 justify-content-between my-2">
          <ul class="fa-ul specialism-ul">
            {% for therapy in therapies %}
              {% if forloop.counter <= 3 %}
                {% if therapist in therapy.specialism.all %}
                  <li class="specialism-li">
                    <span class="fa-li">
                      <i class="fa-solid fa-spa"></i>
                    </span>{{ therapy }}
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
          <div class="therapist-figures d-flex flex-column align-items-center mt-1">
            <p class="therapist-hourly">
              {{ therapist.hourly_rate }}.00/hr
            </p>
            <p class="therapist-rating">
              {% if therapist.avg_rating %}
                {{ therapist.avg_rating }}
              {% else %}
                5
              {% endif %}/ 5
              <i class="fa-solid fa-star"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="therapist-details text-center my-2">
        <h3>{{ therapist }}</h3>
        <p>{{ therapist.bio | safe }}</p>
      </div>
    </section>
    <form method="post">
      {% csrf_token %}
      <p class="alert-big-text">Are you sure you want to delete:</p>
      <p class="alert-bigger-text">{{ therapist }}</p>
      <p class="alert-big-text bold-red">This cannot be undone!</p>
      <div class="d-flex flex-column align-items-center">
        <button type="submit">Confirm</button>
        <a href="/therapists/" class="button-styling cancel">Cancel</a>
      </div>
    </form>
  </section>
{% endblock %}
