:root {
  --white: #fafafa;
  --off-white: #f4f3f0;
  --green-grey: #dfe4dc;
  --green-grey-40: #dfe4dc66;
  --green-grey-60: #dfe4dc99;
  --green-grey-80: #dfe4dccc;
  --green: #84a98c;
  --dark: #2f3e46;
  --light-green: #c5dfb9;
  --light-green-80: #c5dfb9cc;
  --orange: #f9cb9c;
  --orange-60: #f9cb9c99;
  --grey: #c8d0ca;
  --grey-60: #c8d0ca99;
  --grey-80: #c8d0cacc;
  --curly-font: "Grape Nuts", "Brush Script MT", cursive;
  --standard-font: Dosis, Verdana, Geneva, Tahoma, sans-serif;
  --small-radius: 5px;
}

/* * 'c' added before custom classes to avoid clash with bootstrap * */

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* bootstrap resets */
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

a.glow:hover,
a.glow:focus {
  text-shadow: 3px 3px 3px var(--orange);
}

p {
  margin-bottom: 0;
}

.navbar-toggler {
  border: none;
}

ul {
  margin-bottom: 0;
}

h4 {
  margin: 0;
}

/* utilities */
/* TODO - remove before final deployement
identify image with no alt text */
/* img[alt=""],
img:not([alt]) {
  border: red 10px dashed !important;
}

a[href="#"],
a:not([href]) {
  background-color: fuchsia !important;
} */
/* *********************************** */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#flex-height {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

header,
footer {
  position: relative;
  z-index: 99;
  flex-shrink: 0;
}

.image-square {
  height: 150px;
  width: 150px;
  position: relative;
}

.image-square img {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* background colors */
.c-bg-off-white {
  background-color: var(--off-white);
}

.c-bg-green-grey-80 {
  background: var(--green-grey-80);
}

.c-bg-orange {
  background-color: var(--orange);
}

.c-bg-grey {
  background-color: var(--grey);
}

.c-bg-grey-80 {
  background-color: var(--grey-80);
}

.c-bg-grey-60 {
  background-color: var(--grey-60);
}

/* global styling ------------- */
body {
  background-color: var(--white);
  color: var(--dark);
  font-family: var(--standard-font);
}

/* header */
header {
  box-shadow: 0 2px 3px 2px var(--green-grey);
}

h1 {
  font-family: var(--curly-font);  
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0;
}

/* page content */
#background {
  height: 100%;
}

.page-heading {
  font-family: var(--curly-font);
  text-align: center;
  margin: 5px 0 1.5rem;
  box-shadow: 0 -2px 3px 2px var(--off-white),
              0 2px 3px 2px var(--off-white);
}

.card-heading {
  box-shadow: 0 1px 23px 8px var(--dark);
}

.bold-red {
  font-weight: bold;
  color: #e84610;
}

/* forms */
.form-new-line-span {
  display: block;
}

/* footer */
footer {
  box-shadow: 0 -3px 3px 2px var(--green-grey);
}

footer .nav {
  /* tap target requires 48×48px */
  font-size: 3rem;
}

.alert-big-text {
  font-size: 1.2rem;
}

.alert-bigger-text {
  font-size: 1.6rem;
}

/* admin */
.admin-only {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 5px;
  border: 3px solid var(--dark);
}

.admin-only h2 {
  margin-top: .5rem;
  text-align: center;
}

.admin-list > li {
  margin: .5rem 0;
}

.admin-only .page-heading {
  font-family: var(--standard-font);
  box-shadow: none;
  border-top: 3px solid var(--dark);
  border-bottom: 3px solid var(--dark);
}

/* button style */
.admin-only button:not(.dropdown-list),
#background .button-styling,
.button-styling  {
  width: 10rem;
  border-radius: var(--small-radius);
  background-color: var(--green-grey);
  color: var(--dark);
  margin-top: 1rem;
  height: 3rem;
  font-size: 1.3rem;
  border: 1.5px solid var(--dark);
  text-align: center;
  line-height: 2.8rem;
}

.admin-only .button-styling.cancel,
#background .button-styling.cancel {
  background-color: var(--orange-60);
}

.admin-only button:hover:not(.dropdown-list),
#background .button-styling:hover,
.button-styling:hover {
  background-color: var(--light-green);
  border-width: 3px;
  line-height: 2.65rem;
  }

#background .button-styling.cancel:hover,
.button-styling.cancel:hover {
  background-color: var(--orange);
}

button.dropdown-list {
  background-color: transparent;
  border: none;
}

/* media queries */
@media screen and (min-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 375px) {
  h1 {
    font-size: calc(1.675rem + 1.5vw);
  }

  #brand-logo {
    height: 40px;
    width: 50px;
  }
}

@media screen and (max-width: 991px) {
  .mobile-hide {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .desktop-hide {
    display: none !important;
  }

  .navbar-brand,
  .navbar-expand-lg .navbar-collapse {
    flex-basis: 30%;
    flex-grow: 0;
  }

  .navbar-collapse {
    font-size: 1.6rem;
  }
}

/* TODO - remove before final deployement
dev styles */
/* *********************************** */
