{% extends "base.html" %}
{% load static %}
{% load dict_key %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/bookings.css' %}">
{% endblock css %}

{% block title %} | Booking{% endblock title %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="message rounded-0 text-center alert alert-{{ message.tags }}">
  {{ message|safe }}
</div>
{% endfor %}
{% endif %}
<div id="background" class="d-flex flex-column justify-content-between">
  <h2 class="page-heading c-bg-off-white">Bookings</h2>
  <div class="c-width-900r">
    <div id="booking-info">
      {{ booking_details.message|safe }}
    </div>
    <div id="contact-info" class="d-flex
      justify-content-center my-4">
      <a href="tel:{{ booking_details.contact_info }}"
        title="Call us" class="button-styling px-2">
        {{ booking_details.contact_info }}
        <i class="fa-solid fa-phone-flip"></i>
      </a>
    </div>
    <section id="open-times-info" class="w-75 py-2 px-3 c-width-320r">
      <h4 class="text-center mb-3">Opening Hours</h4>
      <ul class="d-flex flex-column timings">
        {% for day in days %}
        <li class="pt-2 position-relative">
          <h5>{{day}}</h5>
          {% for dict_day, details in booking_details.open_times.items %}
          {% if dict_day == day %}
          {% with booking_details.open_times|dict_key:day as times %}
          <div class="timing-holder position-relative end-0">
            <ul class="pb-2 d-flex flex-column">
              <li class="d-flex justify-content-between"><span>Open : </span><span>{{times.open}}</span></li>
              <li class="d-flex justify-content-between"><span>Close : </span><span>{{times.close}}</span></li>
            </ul>
          </div>
          {% endwith %}
          {% endif %}
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>

</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/booking-check.js' %}"></script>
{% endblock extra_js %}