{% extends "base.html" %}
{% load static %}

{% block css %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/therapies.css' %}">
{% endblock css %}

{% block title %} | Therapies{% endblock title %}

{% block content %}
  <div id="background" class="d-flex flex-column justify-content-between">
    <h2 class="page-heading c-bg-off-white">Therapists</h2>
    {% for therapy in therapies %}
    <section class="c-bg-green-grey-80 mb-4 p-2">
      <div class="d-flex justify-content-between">
        {% if forloop.counter|divisibleby:2 %}
        <div class="p-2 flex-shrink-0">
          <div class="overflow-hidden position-relative rounded-4 image-square">
            <img 
            {% if "no_image" in therapy.image.url %}
            src="{% static 'https://dummyimage.com/600x400/4a4f4f/efb820.png&text=%20%20%20PLACEHOLDER+IMAGE' %}" alt=""
            {% else %}
            src="{{ CLOUD }}{{ therapy.image }}" alt="{{ therapy.image_alt_text }}"
            {% endif %} height="150" width="150" class="img-fluid">
          </div>
        </div>
        {% endif %}
        <div class="d-flex flex-column flex-grow-1 justify-content-evenly align-items-center my-2">
          <p>
            <i class="fa-regular fa-clock"></i> {{ therapy.duration }} mins.
          </p>
          <p>
            <i class="fa-solid fa-star"></i> {% if therapy.avg_rating %}
                {{ therapy.avg_rating }}
              {% else %}
                5
              {% endif %}/ 5
          </p>
        </div>
        {% if forloop.counter|divisibleby:2 %}
        {% else %}
        <div class="flex-shrink-0">
          <img 
          {% if "no_image" in therapy.image.url %}
            src="https://dummyimage.com/600x400/4a4f4f/efb820.png&text=%20%20%20PLACEHOLDER+IMAGE" alt=""
          {% else %}
            src="{{ CLOUD }}{{ therapy.image }}" alt="{{ therapy.image_alt_text }}"
          {% endif %} height="150" width="150" class="img-fluid therapy-image rounded-4 p-2">
        </div>
        {% endif %}
      </div>
      <div class="therapist-details text-center my-2">
        <h3>{{ therapy }}</h3>
        <p>{{ therapy.description|safe }}</p>
      </div>
      <div class="d-flex flex-column align-items-center mb-2">
        <a href="/therapies/" class="button-styling">More info...</a>
      </div>
    </section>
    {% endfor %}
  </div>
{% endblock content %}

{% block extra_content %}
{% if request.user.is_superuser %}
<section class="admin-only c-bg-orange">
  <h2>Admin</h2>
  <div class="c-bg-green-grey-80 p-2">
    <ul class="fa-ul admin-list">
      <li>
        <span class="fa-li"><i class="fa-solid fa-plus"></i></span></i><a href="{% url 'add_therapy' %}">New Therapy</a>
      </li>
      <li>
        <button class="dropdown-list" id="edit-therapies-list-toggle" data-bs-toggle="collapse" data-bs-target="#edit-therapies-list" aria-expanded="false" aria-controls="edit-therapies-list">
          <span class="fa-li"><i class="fa-solid fa-pen"></i></span>Edit Therapy
        </button>
        <ul class="fa-ul collapse" id="edit-therapies-list">
          {% if therapies|length %}
          {% for therapy in therapies %}
          <li class="therapy-li">
            <span class="fa-li"><i class="fa-solid fa-user"></i></span>
            {% comment %} <a href="{% url 'edit_therapy' therapy.id %}">{{ therapy }}</a> {% endcomment %}
            {{ therapy }}
          </li>
          {% endfor %}
          {% else %}
          <li class="therapy-li">
            <span class="fa-li"><i class="fa-solid fa-question"></i></span>
            No Therapies
          </li>
          {% endif %}
        </ul>
      </li>
      <li>
        <button class="dropdown-list" id="delete-therapies-list-toggle" data-bs-toggle="collapse" data-bs-target="#delete-therapies-list" aria-expanded="false" aria-controls="delete-therapies-list">
          <span class="fa-li"><i class="fa-solid fa-minus"></i></span>Remove Therapy
        </button>
        <ul class="fa-ul collapse" id="delete-therapies-list">
          {% if therapies|length %}
          {% for therapy in therapies %}
          <li class="therapy-li">
            <span class="fa-li"><i class="fa-solid fa-user"></i></span>
            {% comment %} <a href="{% url 'delete_therapy' therapy.id %}">{{ therapy }}</a> {% endcomment %}
            {{ therapy }}
          </li>
          {% endfor %}
          {% else %}
          <li class="therapy-li">
            <span class="fa-li"><i class="fa-solid fa-question"></i></span>
            No Therapies
          </li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
</section>
{% endif %}
{% endblock extra_content %}

{% block extra_js %}
{% comment %} <script src="{% static 'js/bullet-toggle.js' %}"></script> {% endcomment %}
{% endblock extra_js %}
